.plan-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $spacing-unit;
  
    .plan-card {
      @include card;
      
      h2 {
        margin-top: 0;
        @include themify($themes) {
          color: themed('textColor');
        }
      }
  
      .plan-meta {
        display: flex;
        gap: $spacing-unit;
        margin: $spacing-unit / 2 0;
        font-size: 14px;
        
        @include themify($themes) {
          color: themed('textColorSoft');
        }
      }
    }
  
    @include mobile {
      grid-template-columns: 1fr;
    }
  }